
/*th bg color: 7fb77e */
.cell {
  height: 50px;
  width: 180px;
  border-bottom: 0.5px solid black;
  border-right: 0.5px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;/* rgba(261, 207, 125, 0.5);*/
}
.cell::selection {
  background-color: unset;
  color: unset;
}
.cell_timecell {
  height: 50px;
  width: 180px;
  border-bottom: 0.5px solid black;
  border-right: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: rgb(0,84,118);
  color: white;
  user-select: none;
}


.cell_headercell {
  user-select: none;
  height: 80px;
  width: 180px;
  border-bottom: 0.5px solid black;
  border-right: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
  background-color: rgb(0,84,118);
}

.row {
  display: "flex";
}

.w2m_maincontainer {
  display: flex;
  margin: 50px auto;
  
  align-items: center;
  width: 1080px;
  flex-direction: column;
  box-shadow: 0px 1px 5px black;
}

.committee_select {
  border: 0.5px solid;

  margin: 0 auto;
}

.interviewlengthselect {
  text-align: center;
}
.interviewlengthselect > label {
  font-size: 22px;
  margin-right: 10px;
}
.interviewlengthselect > select {
  padding: 4px;
  font-size: 20px;
  border: 0.5px solid;
  border-radius: 10%;
}
