.unavailableCell15,
.unavailableCell20,
.unavailableCell30 {
  height: 30px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 2px black;
  border-bottom: dotted 2px black;
}

.availableCell15,
.availableCell20,
.availableCell30 {
  height: 30px;
  width: 180px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 2px black;
  border-bottom: dotted 2px black;
}

.unavailableCell15:nth-child(4n + 1),
.availableCell15:nth-child(4n + 1) {
  border-bottom: 2px solid black;
}

.unavailableCell20:nth-child(3n + 1),
.availableCell20:nth-child(3n + 1) {
  border-bottom: 2px solid black;
}

.unavailableCell30:nth-child(2n + 1),
.availableCell30:nth-child(2n + 1) {
  border-bottom: 2px solid black;
}

.headerCell {
  height: 50px;
  width: 180px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}

.timeCell {
  height: 30px;
  width: 180px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}

.schedule {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  border-left: solid 2px black;
  border-top: solid 2px black;
}

.scheduleHeader {
  display: flex;
}

.committeePage {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lengthSelect {
  border: solid 2px black;
  margin-left: 5px;
}
